{{#partial "content"}}
    <h1>{{category.amount}}</h1>
    <p>Here are all the bookings listed with their amount price:</p>
    <ul>
        {{#each bookings}}
            <li>
                <p><a href="/categories/{{category.id}}/bookings/{{id}}">{{description}} </a></p>
            </li>
        {{/each}}
    </ul>
    <button>    <a href="/categories/{{category.id}}/edit">Edit this amount</a><br>
    </button>
    <a href="/categories/{{category.id}}/delete">DELETE this amount</a>
{{/partial}}

{{> layout.hbs}}