{{#partial "content"}}
    <h1>{{category.name}}</h1>
    <p>Here are all the bookings                                                                            s listed in this category:</p>
    <ul>
        {{#each bookings}}
            <li>
                <p><a href="/categories/{{category.id}}/bookings/{{id}}">{{description}}{{date}}</a></p>
            </li>
        {{/each}}
    </ul>
    <button>    <a href="/categories/{{category.id}}/edit">Edit this category</a><br>
    </button>
    <a href="/categories/{{category.id}}/delete">DELETE this category</a>
{{/partial}}

{{> layout.hbs}}